<div class="example-progressbar">
  <img data-lazy-src="https://devrama.com/static/devrama-slider/images/265740754_141774705b_b.png" />
  <img data-lazy-src="https://devrama.com/static/devrama-slider/images/4247776023_81a3f048ca_b.png" />
  <img data-lazy-src="https://devrama.com/static/devrama-slider/images/4277941123_044d26b6df_b.png" />
  <img data-lazy-src="https://devrama.com/static/devrama-slider/images/4432435310_d5010f8efc_b.png" />
  <img data-lazy-src="https://devrama.com/static/devrama-slider/images/6240134386_db0f314ef6_b.png" />
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $('.example-progressbar').DrSlider({
          'showProgress': false
      });
  });
</script>